.text {
    color:black;
    background:yellow;
    font-size:25px;
    font-family:bold;
}    

.text_2 {
    color:red;
    background:yellow;
    text-align:center;
    font-size:50px;
}

.text_3 {
    color:blue;
    background:yellow;
    font-size:44px;
    font-family:bold;
}

#I_don-t_know {
    background-color:yellow;
}